//Contact system administrator, so he can provide you with the correct values

DATABASE_URL="mysql://m1111_trestestte:12312312312312312312313131312312@mysql11.mydevil.net:1111/m1111_trestestte"

DB_HOST="mysql11.mydevil.net"
DB_PORT=0000
DB_USER="m1111_trestestte"
DB_DATABASE="m1111_trestestte"
DB_PASSWORD="12312312312312312312313131312312"
DB_CHARSET="utf8_general_ci"

SESSION_SECRET="testestestestsetsetsetsetestsettsetes"

JWT_SECRET="secret"
MAPBOX_ACCESS_TOKEN="pk.eyJ1Ijoic3BoZXJlb2ZkZXZzIiwiYSI6ImNtazZzczJreDA0ZmEzY3NkNGNidjIwYjcifQ.OI3EZFK6YCI6-96JH5Ky1g"

PORT=3001
NODE_ENV=development


